<article class="articlecontent">
  <h2>Game Data</h2>
  <p>
    <ul>
	  <li><%= link_to 'Breeds', admin_breeds_path %></li>
	  <li><%= link_to 'Levels', admin_levels_path %></li>
	  <li><%= link_to 'Humans', admin_humans_path %></li>
	  <li><%= link_to 'Sentients', admin_sentients_path %></li>
	  <li><%= link_to 'Items', admin_items_path %></li>
	  <li><%= link_to 'Occupations', admin_occupations_path %></li>
    <ul>
  </p>
</article>