<% content_for :page_title do %><h2><%=AppConfig.name%> Leadboards</h2><% end %>

<% cell_table(@leaderboards, 2, :class => "leaderboards") do |leaderboard,idx| %>
  <td>
    <div class="box half">
      <h3><%= leaderboard.name %></h3>
		
	  <% if leaderboard.rankings.first.blank? %>
	    <p>No ranked leaderboards</p>
	  <% else %>
	    <table width="100%">
		<tr>
		  <% if leaderboard.rankable_type == 'Pet' %>	
		    <th>&nbsp;</th><th>Rank</th><th>Name</th><th>Level</th><th>Battle Record</th><th>Joined</th><th>Award</th>
		  <% elsif leaderboard.rankable_type == 'Shop' %>	
		    <th>&nbsp;</th><th>Rank</th><th>Name</th><th>Specialty</th><th>Opened</th><th>Award</th>
		  <% elsif leaderboard.rankable_type == 'Pack' %>
		    <th>&nbsp;</th><th>Rank</th><th>Name</th><th>Leader</th><th>Members</th><th>Founded</th><th>Award</th>
		  <% end %>
		</tr>
	    <% leaderboard.rankings.first.ranks.each do |r| %>
	    <tr class="ranking">
		  <% if leaderboard.rankable_type == 'Pet' %>	
			<td><%= avatar_image(r.rankable,'tiny') %></td>
	        <td><%= r.rank %></td>
			<td><%= facebook_link_to r.rankable.name, facebook_pet_path(r.rankable) %></td>
			<td><%= r.rankable.level_rank_count %></td>
			<td><%= r.rankable.battle_record %></td>
		  <% elsif leaderboard.rankable_type == 'Shop' %>	
			<td>&nbsp;</td>
	        <td><%= r.rank %></td>
	        <td><%= r.rankable.specialty %></td>
			<td><%= facebook_link_to r.rankable.name, facebook_shop_path(r.rankable) %></td>
		  <% elsif leaderboard.rankable_type == 'Pack' %>
			<td><%= avatar_image(r.rankable.standard,'tiny') %></td>
	        <td><%= r.rank %></td>
			<td><%= facebook_link_to r.rankable.name, facebook_pack_path(r.rankable) %></td>
			<td><%= facebook_link_to r.rankable.leader.name, facebook_pet_path(r.rankable.leader) %></td>
			<td><%= r.rankable.pack_members_count %></td>
		  <% end %>		
		  <td><%= "#{time_ago_in_words(r.rankable.created_at)} ago" %></td>
		  <td><%= (leaderboard.awards.size > r.rank) ? leaderboard.awards[r.rank-1].description : "--" %></td>
	    </tr>
	    <% end %>
	    </table>
	  <% end %>
	</div>
  </td>
<% end %>