<% content_for :page_title do %><h2>Forums</h2><% end %>

<div class="box full">
  <table class="forums">
  <tr>
    <th colspan="2">Forum</th>
    <th width="5%">Topics</th>
    <th width="5%">Posts</th>
    <th class="la" width="30%" colspan="1">Last Post</th>
  </tr>
  <% @forums.each do |forum| %>	
    <tr class="forum">
    <td width="25"><%= topic_icon(forum.last_post) unless forum.last_post.blank? %></td>	
    <td>
	  <%= facebook_link_to forum.name, facebook_forum_path(forum), :class => "title" %>
	  <p class="em"><%= forum.description %></p>
	</td>
    <td><%= forum.forum_topics_count %></td>
    <td><%= forum.forum_posts_count %></td>
    <td>
      <% if forum.last_post %>	
        in <strong><%= facebook_link_to forum.last_post.forum_topic.title, facebook_forum_forum_topic_path(:forum_id => forum.id, :id => forum.last_post.forum_topic_id, :anchor => dom_id(forum.last_post)) %></strong>
		<br />
        <%= time_ago_in_words(forum.last_post.created_at) %> ago 
        by <strong><%= forum.last_post.user.username %></strong>
      <% end %>
    </td>
    </tr>
  <% end %>
  </table>
</div>